*{ /*UNIVERSAL*/
    margin: 0;/*MARGEM*/
    padding: 0;/*ESPAÇAMENTO INTERNO*/
    font-family: arial, sans-serif;
    font-size: 13px;
}


img{ /*ESTILO TAG IMAGEM*/
    height: 92px; /*altura*/
}
 a{
   text-decoration: none; /*decoraçao do texto*/
   color: #1f1f1f; /*cor de texto*/
   font-size: 13px;  /*tamanho fonte DO TEXTO*/
    font-family: sans-serif;/*tiPO/familia*/
 }

.botao-login{
    background-color: #1a73e8; /*cor do plano de fundo*/
    color: white;/*COR DO TEXTO/LETRA*/
    padding: 13px 12px;/*espaçamento interno*/
    font-weight: 500;/*PESO DA FONTE*/
    border-radius: 20px;/*borda redonda/CURVATURA*/
}
.icone-produtos{
    width: 24.01px;/*largura*/
    fill: #444746;
}
footer{
    background-color: #f2f2f2 /*cor de fundo*/
}
.caixa-rodape{
    padding: 15px 30px;
}
.caixa-rodape--borda{
    border-bottom: 1PX solid #dadce0; /*borda inferio*/
}